body {
  background-color: #0B0E16;
  color: #DBD6D6;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

ul {
  list-style: none;
}

li, p {
  color: #c6bebe;
  padding-bottom: 0.8rem;
}

p, .school {
  font-weight: 350;
}

.partone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}

.partone img {
  width: 280px;
  height: 410px;
  border-radius: 40px;
}

.partone h1 {
  color: white;
  font-weight: 900;
  margin: 0;
  font-size: 5.3rem;
}

.partone ul {
  padding: 0;
  font-weight: 400;
}

.partone ul li {
  padding-bottom: 6px;
}

.partone .btnarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.partone .btnarea a {
  padding: 10px;
  border: solid #DBD6D6 1px;
  border-radius: 10px;
  color: #DBD6D6;
  text-decoration: none;
}

.partone .btnarea a:hover {
  background-color: #002E74;
}

.partthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partthree .left li .inner {
  font-size: 12px;
  color: #3679CB;
  padding-left: 4rem;
}

.partthree .right h2, .partthree .right ul {
  direction: rtl;
}

.partthree .right ul {
  padding: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  opacity: 25%;
  padding-bottom: 0.8rem;
}

@media (max-width: 768px) {
  body {
    margin: auto;
  }
  img {
    width: 100px;
    height: 100px;
  }
  li {
    font-size: 15px;
    color: #c3bbbb;
  }
  .partone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .partone .textholder h1 {
    font-size: 3rem;
    padding-left: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partone ul li, .partone p, .partone h1 {
    text-align: center;
    font-size: 13px;
  }
  .partone .btnarea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .partthree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    margin: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .partthree .left li .inner {
    font-size: 11px;
    color: #3679CB;
    padding-left: 2rem;
  }
  .partthree .right h2, .partthree .right ul {
    direction: ltr;
  }
  .partthree .right ul {
    padding-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */