//designed and coded by Edwin popularly known as Nygma265 from artmode265

body{
    @include theme(normal);
    
}
.container{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;

}

ul{
    list-style: none;
    // padding-left: 1rem;
}
li,p{
    color: darken($text-color,9);
    padding-bottom: 0.8rem;
}
p,.school{
    font-weight: 350;
}

.partone {
    display: flex;
    align-items:center ;
    gap: 3.5rem;

    img{
        width: 280px;
        height: 410px;
        border-radius: 40px;
    }

    h1{
        color: lighten($color: $text-color, $amount: 20);
        font-weight: 900;
        margin: 0;
        font-size: 5.3rem;
    }
    
    ul{
        padding: 0;
        font-weight: 400;

        li{
            padding-bottom: 6px;
        }
    }
    .btnarea{
        display: flex;
        gap : 2rem;

        .btn{
            padding: 10px;
            border: solid $text-color 1px;
            border-radius: 10px;
            color: $text-color;
            text-decoration: none;

            &:hover{
                background-color: $blue-color;
            }
        }
        .btn-git:hover{
            background-color: orangered;
        }
        .btn-insta:hover{
            background: linear-gradient(to right,$colorful,rgb(214, 114, 0));
        }
       
    }

}
.partthree{
    display: flex;
    justify-content: space-between;
    
    .left{
        li .inner{
            font-size: 12px;
            color: $inner;
            padding-left: 4rem;
        }

    }
    
    .right {
         h2, ul{
            direction: rtl;
        }
        ul{
            padding: 0;
        }
}
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: 25%;
    padding-bottom: 0.8rem;
}