@media (max-width: 768px ) {
    body{
        margin: auto;
    }

    img{
        width: 100px;
        height: 100px;

    }
    li{
        font-size: 15px;
        color: darken($text-color,10);
    }
   
    .partone{
        flex-direction: column ; 
        gap: 0.5rem;
        align-items: center;
        margin: auto;

        .textholder h1 {
            font-size: 3rem;
            padding-left: 2rem;
            align-items: center;
        }
        
        ul li, p, h1{
            text-align: center;
            font-size: 13px;
        }
        .btnarea{
            flex-direction: column;
            gap : 0.5rem;
        }
    }
    .partthree{
            flex-direction: column ; 
            gap: 0.5rem;
            margin: auto;
            align-items: flex-start;

              
            .left{
                li .inner{
                    font-size: 11px;
                    color: $inner;
                    padding-left: 2rem;
                }

            }

            .right{
                h2,ul{
                    direction: ltr;
                }
                ul{
                    padding-left: 2rem;
                }
            }

         
    }
}